In [1]:
import pandas as pd
import os

In [2]:
# load data into a df
df = pd.read_csv('glassdoor_jobs.csv')

## Data Cleaning

### Salary Estimate
- Removing missing salaries
- Get salary only
- Check if it's hourly
- Add min, max, and avg salary
- change hourly salary to yearly

In [4]:
# parsing salaries
# Remove missing values (-1)
df = df[df['Salary Estimate'] != '-1']

In [16]:
# add hourly (estimated salary is per hr)
df['s_hr'] = df['Salary Estimate'].apply(lambda x: 1 if 'Per Hour' in x else 0)

In [19]:
df['salary'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0].strip())
df['salary'] = df['salary'].apply(lambda x: x.replace('$', '').replace('K', ''))
df['salary'] = df['salary'].apply(lambda x: x.split(':')[1] if 'Employer Provided Salary' in x or 'Employer Provided Salary' in x else x)
df['salary'] = df['salary'].apply(lambda x: x.replace('Per Hour', '') if 'Per Hour' in x else x)

In [20]:
# create min, max, avg salary cols
df['s_min'] = df['salary'].apply(lambda x: x.split('-')[0] if '-' in x else x)
df['s_max'] = df['salary'].apply(lambda x: x.split('-')[1] if '-' in x else x)
df['s_min'] = df['s_min'].astype(float)
df['s_max'] = df['s_max'].astype(float)
df['s_avg'] = (df['s_min'] + df['s_max']) /2

In [21]:
# convert hr pay to yr
df['s_min'] = df.apply(lambda x: x['s_min']*1.92 if x['s_hr'] == 1 else x['s_min'], axis=1)
df['s_max'] = df.apply(lambda x: x['s_max']*1.92 if x['s_hr'] == 1 else x['s_max'], axis=1)
df['s_avg'] = df.apply(lambda x: x['s_avg']*1.92 if x['s_hr'] == 1 else x['s_avg'], axis=1)

### Company Name
- Seperate comapany name from rating

In [294]:
# get company name only without raiting (xxxxx\n4.3) => (xxxxxx)

In [23]:
df['c_name'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)
df['c_name'] = df['c_name'].apply(lambda x: x.replace('\n', ''))

### Location
- Get city and state seperately

In [25]:
# split up state from location
df['state'] = df['Location'].apply(lambda x: x.split(',')[1] if ',' in x else x)
df['city'] = df['Location'].apply(lambda x: x.split(',')[0] if ',' in x else x)

### Company Age
- Calculate how old company is

In [26]:
# add company age
df['c_age'] = df['Founded'].apply(lambda x: -1 if x == -1 else (2022 - x))

### Job description
- Try to grab some keywords out of it

In [28]:
# parse description
df['py_req'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['r_req'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)
df['excel_req'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['sql_req'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df['tableau_req'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [29]:
# description length
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))

In [30]:
# drop Unnamed column
df = df.drop(['Unnamed: 0'], axis=1)

In [37]:
# let's categorize jobs based on Job Title (data scientist, data enginner, data analyst, machine learning)
def job_simp(title):
    title = title.lower()
    if 'data scientist' in title:
        return 'data scientist'
    elif 'analyst' in title:
        return 'data analyst'
    elif 'data enginner' in title:
        return 'data enginner'
    elif 'mle' in title:
        return 'machine learning'
    else:
        return 'N/A'

In [2]:
df['job_simp'] = df['Job Title'].apply(job_simp)
df['job_simp'].value_counts()

In [39]:
# let's add seniority column
def seniority(title):
    title = title.lower()
    if 'sr' in title or 'senior' in title or 'lead' in title or 'principal' in title:
        return 'senior'
    elif 'jr' in title or 'junior' in title or 'jr.' in title:
        return 'junior'
    else:
        return 'N/A'

In [40]:
df['seniority'] = df['Job Title'].apply(seniority)

In [3]:
df['seniority'].value_counts()

In [43]:
interesting_col = ['Job Title', 'job_simp', 'salary','s_min', 's_max', 's_avg', 's_hr', 'Job Description', 'desc_len', 'Rating', 'c_name', 'Location', 'city', 'state', 'Size', 'Type of ownership', 'Sector', 'Founded', 'c_age', 'Industry', 'Revenue', 'py_req', 'r_req',
       'excel_req', 'sql_req', 'tableau_req', 'seniority']
df = df[interesting_col]

In [44]:
df.to_csv('all_data_cleaned_20_01_2022.csv')